@media only screen and (max-width: 500px) {
  .card-body {
    margin-top: 5vw;
    width: 80vw;
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 3.5vw;
    .card-header1 {
      font-size: 4.3vw;
      margin-bottom: 2vw;
      font-weight: 500;
    }
    .btn-light {
      font-size: 3vw;
      width: 35vw;
      margin-top: 3vw;
    }
    .btn-dark {
      font-size: 3vw;
      width: 35vw;
      margin-top: 3vw;
    }
  }
  .name {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 4.9vw;
    margin-left: 5px;
    margin-bottom: 0px;
  }
  .back-blog {
    margin-left: 3vw;
    margin-top: 10vw;
  }
  .back {
    position: absolute;
    margin-top: 15vw;
    margin-left: 2.5vw;
    .MuiSvgIcon-root {
      width: 4vw;
    }
  }
  .back-blog {
    position: absolute;
    margin-top: 15vw;
    margin-left: 2.5vw;
    .MuiSvgIcon-root {
      width: 4vw;
    }
  }
  .project-body {
    width: 80vw;
    margin: auto;
    padding: 7vw;
    padding-top: 4vw;
    margin-top: 5vw;
    padding-bottom: 0.1vw;
    margin-bottom: 5vw;
    * {
      line-height: 1.5;
      font-family: "Times New Roman", Times, serif;
    }
    a {
      text-decoration: none;
    }
    .project-header {
      font-size: 5vw;
      font-weight:lighter;
      margin-bottom: 1vw;
      margin-top: 1vw;
    }
    .date {
      font-size: 2.5vw;
    }
    .github-tag {
      font-size: 2.5vw;
      display: inline-block;
      float: right;
    }
    .caption {
      text-align: center;
      margin-right: 6vw;
      margin-top: 1.5vw;
      font-size: 2.5vw;
    }
    .project-body-text {
      text-indent: 20px;
      font-size: 2.8vw;
    }
    .image-background {
      background-color: #202045;
      width: 45vw;
      height: auto;
      margin: 0 auto;
      padding: 2vw;
      position: relative;
    }
    img {
      width: 40vw;
    }
    .pseudocode {
      width: 62vw;
      padding: 2.7vw;
      border-radius: 8px;
      font-size: 2.5vw;
    }
    .inner-header {
      font-size: 5vw;
      margin-top: 3vw;
    }
    .code {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 2.6vw;
    }
  }
  .navbar {
    background-color: #73aad1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 15.5vw;
  }
  .dropdown-item {
    border-radius:25px;
  }
  .bottom-nav {
    height: 15vw;
    background-color: #75736e;
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    display: flex;
    .dropdown-dark {
      font-size: 2.7vw;
      width: 30vw;
      min-width: 1px;
      max-width: 30vw;
    }
    .dropdown-light {
      font-size: 2.7vw;
      width: 30vw;
      min-width: 1px;
      max-width: 30vw;
    }
    .btn-light {
      color: black;
      background-color: #e8e6e1;
      border-radius: 25px;
      box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
      font-size: 2.7vw;
      width: 26vw;
    }
    .btn-dark {
      color: white;
      background-color: #17302e;
      border-radius: 25px;
      box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
      font-size: 2.7vw;
      width: 26vw;
    }
  }
  .dark-mode-toggle {
    float: right;
    margin-bottom: 0px;
    padding-right: 5px;
    & > button {
      padding: 2vw;
      background: none;
      border: none;
      color: #ffe600;
      cursor: pointer;
      transition: color 0.5s ease;
      &:last-child {
        color: #666;
      }
      &:focus {
        outline: none;
      }
    }
    & > a {
      padding: 2vw;
    }
    .MuiSvgIcon-root {
      font-size: 5.5vw;
    }
    .git {
      font-size: 4.65vw;
    }
  }
}
