@media only screen and (min-width: 992px) {
  .card-body {
    margin-top: 30px;
    margin-left: 30px;
    width: 400px;
    font-size: 15px;
    border-radius: 15px;
    padding-top: 18px;
    .card-header1 {
      font-size: 21px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    .btn-light {
      font-size: 14px;
      width: 180px;
      margin-top: 15px;
    }
    .btn-dark {
      font-size: 14px;
      width: 180px;
      margin-top: 15px;
    }
  }
  .name {
    font-size: 25px;
    margin-left: 8px;
    padding: 10px 15px;
  }
  .navbar {
    position: sticky;
    width: 100%;
    display: flex;
    background-color: #73aad1;
    height: 80px;
    margin: 0;
    padding: 0;
  }
  .bottom-nav {
    height: 70px;
    display: flex;
    background-color: #75736e;
    position: sticky;
    width: 100%;
    justify-content: center;
    align-items: center;
    .dropdown-dark {
      border-radius: 25px;
      font-size: 13px;
      background-color: #2b3545;
    }
    .dropdown-light {
      border-radius:25px;
      font-size: 13px;
      background-color: #e3e1ed;
    }
    .btn-light {
      color: black;
      background-color: #e8e6e1;
      border-radius: 25px;
      box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
      font-size: 14px;
      width: 15vw;
    }
    .btn-dark {
      color: white;
      background-color: #17302e;
      border-radius: 25px;
      box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
      font-size: 14px;
      width: 15vw;
    }
  }
  .dark-mode-toggle {
    margin-bottom: 0px;
    margin-right: 8px;
    & > button {
      padding: 12px;
      background: none;
      border: none;
      color: #ffe600;
      cursor: pointer;
      transition: color 0.5s ease;
      &:last-child {
        color: #666;
      }
      &:focus {
        outline: none;
      }
    }
    & > a {
      padding: 12px;
    }
    .MuiSvgIcon-root {
      font-size: 27px;
    }
    .git {
      font-size: 23px;
    }
  }
  .back {
    position: absolute;
    margin-top: 120px;
    margin-left: 5.5vw;
    margin-right: auto;
    .MuiSvgIcon-root {
      width: 30px;
    }
  }
  .back-blog {
    display: none;
  }
  .project-body {
    width: 70vw;
    margin: auto;
    padding: 60px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    * {
      line-height: 1.5;
      font-family: "Times New Roman", Times, serif;
    }
    a {
      text-decoration: none;
    }
    .project-header {
      font-size: 31px;
      font-weight:lighter;
    }
    .date {
      font-size: 13.5px;
    }
    .github-tag {
      font-size: 13.5px;
      display: inline-block;
      float: right;
    }
    .caption {
      text-align: center;
      margin-right: 2vw;
      margin-top: 10px;
      font-size: 14px;
    }

    .project-body-text {
      text-indent: 20px;
      font-size: 16.5px;
    }
    .image-background {
      background-color: #202045;
      width: 280px;
      height: auto;
      margin: 0 auto;
      padding: 10px;
      position: relative;
    }
    img {
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .pseudocode {
      width: 50vw;
      padding: 15px;
      border-radius: 8px;
      font-size: 14px;
    }
    .inner-header {
      font-size: 28px;
      margin-top: 18px;
    }
    .code {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
    }
  }
}
