@media only screen and (min-width: 500px) and (max-width: 992px) {
  .navbar {
    background-color: #73aad1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 70px;
  }
  .name {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    min-width: 60px;
    font-size: 23px;
    margin-left: 12px;
    padding: 10px 15px;
  }
  .bottom-nav {
    height: 60px;
    background-color: #75736e;
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    display: flex;
    .dropdown-dark {
      border-radius:25px;
      font-size: 11px;
      background-color: #2b3545;
    }
    .dropdown-light {
      border-radius:25px;
      font-size: 11px;
      background-color: #e3e1ed;
    }
    .btn-light {
      color: black;
      background-color: #e8e6e1;
      border-radius: 25px;
      box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
      font-size: 12px;
      width: 120px;
    }
    .btn-dark {
      color: white;
      background-color: #17302e;
      border-radius: 25px;
      box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
      font-size: 12px;
      width: 120px;
    }
  }
  .dark-mode-toggle {
    float: right;
    min-width: 60px;
    margin-right: 12px;
    & > button {
      padding: 10px;
      background: none;
      border: none;
      color: #ffe600;
      cursor: pointer;
      transition: color 0.5s ease;
      &:last-child {
        color: #666;
      }
      &:focus {
        outline: none;
      }
    }
    & > a {
      padding: 10px;
    }
    .MuiSvgIcon-root {
      font-size: 27px;
    }
    .git {
      font-size: 23px;
    }
  }

  .bottom-nav-divider {
    margin: 2vw;
  }
  .back {
    position: absolute;
    min-width: 1px;
    margin-left: 5vw;
    .MuiSvgIcon-root {
      width: 7vw;
      height: 5vw;
      padding-right: 3vw;
    }
  }
}
