.card-divider {
  width: 8vw;
  display: inline-block;
}

.cards {
  text-align: center;
  margin-bottom: 20px;
}

.card-body {
  border-radius: 15px;
  text-decoration: none;
  height: auto;
  display: inline-block;
  .btn-light {
    color: black;
    background-color: #e8e6e1;
    border-radius: 25px;
    box-shadow: 0 2px 2px 2px rgba(90, 90, 90, .3);
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  }
  .btn-dark {
    color: #ff3d3d;
    background-color: #0f2845;
    border-radius: 25px;
    box-shadow: 0 2px 2px 2px rgba(90, 90, 90, .3);
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  }
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dropdown-item {
  border-radius:25px;
}

.navbar {
  position: sticky;
  background-color: #84ab98;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  transition: background-color 0.5s ease;
}

.bottom-nav {
  position: sticky;
  height: 12vw;
  background-color: #75736e;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
  display: flex;
  .dropdown-dark {
    border-radius:25px;
    background-color: #242d3b;
  }
  .dropdown-light {
    border-radius:25px;
    background-color: #dbd9d9;
  }
  .btn-light {
    background-color: #dbd9d9;
    border-color: #e0e0e0;
    color: black;
    border-radius: 25px;
    box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
  }
  .btn-dark {
    background-color: #131a12;
    border-color: #17302e;
    color: white;
    border-radius: 25px;
    box-shadow: 0 3px 5px 2px rgba(90, 90, 90, .3);
  }
}

.name {
  float: left;
  display: block;
  text-align: center;
  padding: 3vw;
  text-decoration: none;
  min-width: 60px;
  font-size: 4.5vw;
  margin-left: 7px;
  transition: color 0.5s ease;
}

.dark-mode-toggle {
  float: right;
  min-width: 60px;
  margin-bottom: 0px;
  & > button {
    padding: 7px;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: background-color 0.5s ease;
    &:last-child {
      color: #666;
    }
    &:focus {
      outline: none;
    }
  }
  & > a {
    padding: 7px;
  }
}

.bottom-nav-divider {
  margin: 2vw;
}
