.dropdown-item {
  border-radius:25px;
}

.navbar {
  position: sticky;
  background-color: #73aad1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  transition: background-color 0.5s ease;
}

.bottom-nav {
  position: sticky;
  height: 12vw;
  background-color: #75736e;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align:middle;
  display: flex;
  transition: background-color 0.5s ease;
  .dropdown-dark {
    border-radius:25px;
    background-color: #2b3545;
  }
  .dropdown-light {
    border-radius:25px;
    background-color: #e3e1ed;
  }
}

.name {
  float: left;
  display: block;
  text-align: center;
  padding: 3vw 3vw;
  text-decoration: none;
  min-width: 60px;
  font-size: 4.5vw;
  margin-left: 7px;
  margin-bottom: 5px;
  transition: color 0.5s ease;
}

.dark-mode-toggle {
  float: right;
  min-width: 60px;
  margin-bottom: 5px;
  & > button {
    padding: 7px;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.5s ease;
    &:last-child {
      color: #666;
    }
    &:focus {
      outline: none;
    }
  }
  & > a {
    padding: 7px;
  }
}

.bottom-nav-divider {
  margin: 2vw;
}

.blog-body-cards {
  padding: 3vw 3vw;
  display: flex;
}
