// Media queries for different devices.

@media only screen and (max-width: 600px) {
  .name {
    font-size: 19px !important;
  }
  .navbar {
    padding: 10px !important;
  }
  .links {
    margin-top: 54px !important;
    height: 14% !important;
  }
}

@media only screen and (max-width: 600px) and (min-height: 800px) {
  .links {
    margin-top: 54px !important;
    height: 8% !important;
  }
}
