.divider1 {

}

.name {
  font-size: 25px;
  padding-left: 15px;
}

.dark-mode-toggle button + button {
   padding-left: 5px;
}

.menu-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  margin-top: 76px;
  top: 0;
  width: 100%;
  height: 15%;
  display: flex;
  background-color: #75736e;
  padding: 20px;
  position: absolute;
}

.dark-mode-button {
  margin-left: auto;
  margin-right: 0;
}

body.light-mode {
  background-color: #f2f0eb;
  color: #333;
  transition: background-color 0.3s ease;
  .links {
    background-color: #e8e6e1;
  }
}

body.dark-mode {
  background-color: #151e26;
  color: #dfdfdf;
  transition: background-color 0.3s ease;

  .navbar {
    background-color: #1b2938;
  }

  .links {
    background-color: #17302e;
  }

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #73aad1;
  padding: 20px;
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }
    &:focus {
      outline: none;
    }
  }
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}
