.bottom-nav-divider {
  margin: 10px;
}

.name {
  font-size: 25px;
  padding-left: 15px;
}

.card22 {
  padding-top: 160px;
  padding-left: 20px;
}

.bottom-nav {
  font-size: 500px;
  margin-top: 76px;
  height: 70px;
  display: flex;
  background-color: #75736e;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  background-color: #73aad1;
  padding: 20px;
}

body.light-mode {
  background-color: #f2f0eb;
  color: #333;
  transition: background-color 0.3s ease;
  .bottom-nav {
    background-color: #e8e6e1;
  }
}

body.dark-mode {
  background-color: #151e26;
  color: #dfdfdf;
  transition: background-color 0.3s ease;

  .navbar {
    background-color: #1b2938;
  }

  .bottom-nav {
    background-color: #17302e;
  }

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

.dark-mode-toggle {
  display: flex;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }
    &:focus {
      outline: none;
    }
  }
}
